*{
    margin: 0;
    padding: 0;
}

body, html{
    background-color: whitesmoke;
}

h1{
    color: white;
    background-color: rgb(71, 70, 70);
    text-align: center;
    padding: 5px 0;
}

.form{
    border: 1px solid #6a6a6b;
    padding: 10px 20px;
    width: 350px;
    margin: 20px auto 0 auto;
}

.control{
    border-radius: 5px;
}

.btn-add{
    
}